psid_map {
    {% for items in context.psid_map -%}
    {{items.ipv4}} {psid_length={{items.psid_length}}, shift={{items.shift}}}
    {% endfor -%}}

br_addresses {
    {% for items in context.br_addresses -%}
    {{items.bridge_address}},
    {% endfor -%}
}

softwires {
    {% for items in context.softwires -%}
    { ipv4={{items.softwire_ipv4}}, psid={{items.softwire_psid}}, b4={{items.softwire_b4}}, aftr={{items.softwire_aftr}}}
    {% endfor -%}
}
